.wrap {
  margin-top: 100px;
  text-align: left;
}

.title {
  font-family: Montserrat;
  font-weight: 600;
  line-height: 23.16px;
  color: #242a37;
  margin-bottom: 20px;
  text-align: left;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}

.listItem {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 12px;
  line-height: 14.63px;
  color: #242a37;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;
  text-align: left;
  width: 280px;
  padding: 20px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
}
.titleWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.textWrap {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}

.text {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 12px;
  line-height: 14.63px;
  margin-bottom: 12px;
  color: #242a37;
  display: grid;
  grid-template-columns: 100px auto;
  gap: 35px;
}
.accent {
  color: #898f9f;
}
.iconBook {
  color: #898f9f;
  margin-right: 12px;
  width: 26px;
  height: 20px;
}
.icon {
  color: #898f9f;
  margin-right: 12px;
  width: 22px;
  height: 17px;
}
.trainBtn {
  background-color: #ff6b08;
  color: #fff;
  border-radius: 0%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 28px;
  color: #fff;
}

/* TABLET */
@media (min-width: 768px) {
  .wrap {
    margin-left: 32px;
  }
  .title {
    font-weight: 600;
    font-size: 19px;
    line-height: 100%;
    margin-top: 120px;
    margin-bottom: 24px;
  }
  .listItem {
    width: 704px;
    height: 62px;
    padding: 14px 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .text {
    font-weight: 500;
    font-size: 14px;
  }
  .accent {
    display: none;
  }
  .textWrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .trainBtn {
    width: 200px;
    height: 40px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* DESKTOP */
@media (min-width: 1440px) {
}
